{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-3 d-flex align-items-center" style="padding: 1rem">
            <img
              src="https://th.bing.com/th/id/OIP.KF2_3ML0X9t6SHzr__XsGAHaFS?w=275&h=196&c=7&r=0&o=5&dpr=1.3&pid=1.7"
              class="img-fluid rounded-start"
              alt="프로필 이미지"
            />
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h5 class="card-title">이름: 키티</h5>
              <p class="card-text">집 좀 보 내 달 </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}